#container{
	width:450px;
	margin:auto;
}
#div1,#div2,#div3{
	text-align:center;
	border:1px blue solid;
}
#div1{
	width:450px;
	background-color:orange;
	
	height:100px;
}
#div2{
	width:450px;
	background-color:yellow;
	
	height:100px;
}
#div3{

	width:450px;
	background-color:green;
	height:100px;
}

